<div class="entame1">
  <!-- ===== 上部ヘッダー（左にロゴ＋2行、中央に大見出し） ===== -->
  <header class="entame2">
    <div class="entame-left">
      <div class="entame30">
        <%= image_tag 'エンタメロゴ.png', class: 'entame3-image', alt: 'エンタメ' %>
      </div>
      <div class="entame-title-left">
        <div class="entame-ja-left">エンタメ</div>
        <div class="entame-en-left">entertainment</div>
      </div>
    </div>
    <h1 class="entame6">エンタメ</h1>
  </header>

  <!-- ===== メイン画像 ===== -->
  <div class="entame40">
    <%= image_tag 'エンタメ写真.png', class: 'entame40-image', alt: 'エンタメ写真' %>
  </div>

　<%= link_to "新規投稿一覧へ", tweets_path, class: "new-post-btn-top" %>

  <!-- ===== キャッチコピー ===== -->
  <div class="entame-text-block">
    <div class="entame-text1">福祉とか障がいってなんだかよくわからない．．．</div>
    <div class="entame-text2">イメージわかないし．．．</div>
    <div class="entame-text3">なら、まずはエンタメから<br>知ってみるのはどうですか？？</div>
  </div>

  <!-- ===== サブタイトル ===== -->
  <div class="entame7">障がい・福祉に関するメディア</div>

  <!-- ===== リンク一覧 ===== -->
  <div class="entame-links">
    <div class="entame8">
      <a href="https://soar-world.com/">soar（ソア）｜人の持つ可能性が広がる瞬間を伝えていくメディアプロジェクト</a>
    </div>
    <div class="entame9">
      <a href="https://x.com/nhk_toitoi">toi-toi 木曜20:00 Eテレ（@nhk_toitoi）さん／X</a>
    </div>
    <div class="entame10">
      <a href="https://www.nhk.jp/p/baribara/ts/8Q416M6Q79/">バリバラ - NHK</a>
    </div>
    <div class="entame11">
      <a href="https://wel-bee.com/">TOP - wel-bee（ウェルビー）｜学生による福祉ウェブマガジン</a>
    </div>
  </div>
</div>