<div class="food1">

    <div class="food2">
        <div class="food3">
            <img src="フードカフェロゴ.png" alt="フード＆カフェロゴ" class="food4">
            <span class="food5">food&cafe</span>
        </div>
        <div class="food6">
            フード＆カフェ
        </div>
    </div>
    
    <div class="food7">
        <img src="カフェメイン.png" alt="カフェ" class="food8">
    </div>

    <div class="food9">
        福祉と食べ物、カフェのかかわり
    </div>

    <div class="food10">
        全国には就労支援事業所などが運営している飲食店がたくさんあるんです！
    </div>

    <div class="food11">
        就労支援事業所とは？
    </div>

    <div class="food12">
        <table>
            <thead>
                <tr>
                    <th class="food13">項目</th>
                    <th class="food14">就労移行支援</th>
                    <th class="food15">就労継続支援A型</th>
                    <th class="food16">就労継続支援B型</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="food13">利用対象</td>
                    <td>一般企業への就職を志望している方</td>
                    <td>一般企業での雇用は困難だが、雇用契約に基づく就労が可能な方</td>
                    <td>一般企業や雇用契約に基づく就労が困難な方</td>
                </tr>
                <tr>
                    <td class="food13">対象年齢</td>
                    <td>18歳以上65歳未満</td>
                    <td>18歳以上65歳未満</td>
                    <td>定めなし</td>
                </tr>
                <tr>
                    <td class="food13">雇用契約の有無</td>
                    <td>なし</td>
                    <td>あり</td>
                    <td>なし</td>
                </tr>
                <tr>
                    <td class="food13">利用期間の制限</td>
                    <td>原則2年以内</td>
                    <td>なし</td>
                    <td>なし</td>
                </tr>
                <tr>
                    <td class="food13">給料（工賃）</td>
                    <td>なし</td>
                    <td>最低賃金以上の給料が発生</td>
                    <td>工賃が発生</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="food17">
        パン・焼き菓子・スイーツなど
    </div>

</div>