<div class="parasports1">
  <!-- ===== Top Header (ロゴ左/中央大見出し) ===== -->
  <header class="ps-header">
    <div class="ps-badge">
      <div class="ps-logo">
        <%= image_tag 'パラスポーツロゴ.png', class: 'ps-logo-img', alt: 'パラスポーツ' %>
      </div>
      <div class="ps-badge-text">
        <span class="ps-ja">パラスポーツ</span>
        <span class="ps-en">parasports</span>
      </div>
    </div>
    <h1 class="ps-title">パラスポーツ</h1>
  </header>

  <!-- ===== Hero Image ===== -->
  <div class="ps-hero">
    <%= image_tag 'パラスポーツイラスト.png', class: 'ps-hero-img', alt: 'パラスポーツ イラスト' %>
  </div>

　<%= link_to "新規投稿一覧へ", tweets_path, class: "new-post-btn-top" %>

  <!-- ===== 以降：既存コンテンツそのまま ===== -->
  <div class="parasports-catchcopy">
    スポーツをするのが好きな人、<br>
    見るのが好きな人、誰でも歓迎！<br>
    あなたの知らないスポーツが<br>
    見つかるかも．．．！！
  </div>

  <div class="parasports9">おすすめパラスポーツサイト一覧</div>

  <div class="parasports10">
    <a href="https://www.parasapo.tokyo/sports">パラリンピック競技・種目一覧｜パラサポWEB</a>
  </div>
  <div class="parasports11">
    <a href="https://parasports-start.tokyo/sports/">競技紹介｜パラスポーツスタートガイド</a>
  </div>
  <div class="parasports12">
    <a href="https://sportsbull.jp/paraspo-design-college/">パラスポデザインカレッジ｜スポーツブル（スポブル）</a>
  </div>
  <div class="parasports13">
    <a href="https://www.parasports.or.jp/">公益財団法人日本パラスポーツ協会（JPSA）</a>
  </div>

  <div class="parasports-footer-text">
    ほかにもパラスポーツに関する投稿は<br>
    新規投稿ページをチェック！
  </div>
</div>