<div class="topbiggest">
    <div class="topbig1">
        <div class="top1">
        障がいって
        </div>
        <div class="top2">
        なんだろう
        </div>
    </div>
    
    <div class="kyoumi">
    興味のあるところをクリック！
    </div>

    <div class="category-grid">
        <div class="category-row">
            <div class="volunteerall">
                <div class="volunteer3">
                <%= image_tag 'ボランティアロゴ.png', class:"volunteer3-image"%>
                </div>
                <div class="category-text-group">
                    <div class="volunteer1">
        <strong>ボランティア</strong>
                    </div>
                    <div class="volunteer2">
        <strong>volunteer</strong>
                    </div>
                </div>
            </div>
            <div class="paraall">
                <div class="para3">
                <%= image_tag 'パラスポーツロゴ.png', class:"para3-image"%>
                </div>
                <div class="category-text-group">
                    <div class="para1">
        <strong>パラスポーツ</strong>
                    </div>
                   <div class="para2">
        <strong>para sports</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="category-row">
            <div class="entertainentall">
                <div class="entertainent3">
                <%= image_tag 'エンタメロゴ.png', class:"entertainent3-image"%>
                </div>
                <div class="category-text-group">
                    <div class="entertainent1">
        <strong>エンタメ</strong>
                    </div>
                    <div class="entertainent2">
        <strong>entertainment</strong>
                    </div>
                </div>
            </div>
            <div class="foodall">
                <div class="food3">
                 <%= image_tag 'フード＆カフェロゴ.png', class:"food3-image"%>
                </div>
                <div class="category-text-group">
                    <div class="food1">
        <strong>フード＆カフェ</strong>
                    </div>
                    <div class="food2">
        <strong>food＆cafe</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wakaranai">
        <div class="wakaranai1">
        障がいや福祉ってよくわからない．．．
        </div>
        <div class="wakaranai2">
        自分には関係ないし．．．
        </div>
        <div class="wakaranai3">
        そんな人にこそ知ってほしい！！
        </div>
        <div class="wakaranai4">
        【障がい、福祉のおもしろさがわかるサイト】
        </div>
        <div class="wakaranai5">
        障がいってなんだろう？
        </div>
　　　　<div class="wakaranai6">
       
        </div>
    </div>
</div>