<div class="volunteer-page">

    <div class="header">
        <div class="header-left">
            <img src="ボランティアロゴ.png" alt="ボランティアロゴ" class="header-logo">
            <span class="header-sub-text">volunteer</span>
        </div>
        <div class="header-title">
            ボランティア
        </div>
    </div>
    
    <div class="main-image-container">
        <img src="volunteer-main.png" alt="Volunteer" class="main-image">
    </div>

    <div class="section-container">
        <div class="section-title">
            おすすめボランティアサイト一覧
        </div>

        <div class="link-section">
            <div class="link-heading">
                全国で探す
            </div>
            <div class="link-item">
                <a href="#">ボランティア募集情報満載！│ activo (アクティボ)</a>
            </div>
            <div class="link-item">
                <a href="#">ぼ活！｜ボランティア募集やセミナー情報を掲載中｜日本財団ボランティアセンター運営</a>
            </div>
            <div class="link-item">
                <a href="#">Yahoo!ボランティア - ボランティア探しはYahoo!ボランティア</a>
            </div>
        </div>

        <div class="link-section">
            <div class="link-heading">
                東京専門なら
            </div>
            <div class="link-item">
                <a href="#">東京ボランティアレガシーネットワーク</a>
            </div>
            <div class="link-item">
                <a href="#">都内23区｜ボランティア・市民活動の総合情報サイト「ボラ市民ウェブ」</a>
            </div>
            <div class="link-item">
                <a href="#">旅するボランティア｜日本財団ボランティアセンター</a>
            </div>
        </div>
    </div>

    <div class="footer-title">
        ボランティア投稿
    </div>

</div>